.widget {
  margin-bottom: 5px;
}
.sugestaoitem {
  height: 40px;
  line-height: 40px;
}
.post_area {
  border-bottom: 1px solid #CCC;
}
.post_area textarea {
  height: 100px;
}
.postitem {
  background-color: aliceblue;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
}
.postitem_texto {
  background-color: #EEE;
  padding: 10px;
  margin-bottom: 10px;
}
.postitem_comentario {
  display: none;
}
.postitem_comentarios {
  border: 1px solid #CCC;
  margin-top: 10px;
  background-color: rgb(240, 106, 106);
}
.postitem_botoes {
  margin-top: 10px;
}
.postitem_comentarios li {
  list-style: none;
  padding: 5px;
}
.line {
  height: 1px;
  background-color: #CCC;
}
.postitem_comentarios ul {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 5px;
}